@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
}
.contenedor{
    width: 60%;
    height: 600px;
    border: solid 1px rgb(209, 208, 208);
    margin: auto;
    margin-top:10%;
}
.card-roles{
    width:25%;
    height:132px;
    border:solid 1px rgb(209, 208, 208);
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
}
i{
    font-family: "Inter", sans-serif;
}
.btn-roles{
    min-width:195px;
    height: 50px;
    background-color: #88CC00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:51px;
    margin-bottom:22px;
}